<div class="jcContainer">
  <div class="pageHeading">
    Books posted by others
  </div>

  <!-- defines each "card" book.  Note, custom CSS classes defined for "grid" (used block divs); see CSS -->
  <div class="row">
    <div
      class="grid m-grid-2 d-grid-3 sm-grid-1"
      *ngFor="let book of localbooksArray"
      (click)="open(book)"
    >
      <div class="img-m img-d img-sm">
        <img class="imgClass" src="{{ book.coversrc }}" />
      </div>
      <div class="jch5">{{ book.title }}</div>
      <h6 class="jch6">by {{ book.author }}</h6>
      <h6 class="jch6 bookCategory">{{ book.category }}</h6>
    </div>
  </div>
</div>
