/* custom name used to define size of book "card" area */
.jcContainer {
  display: block;
  width: 96%;
  margin-left: 2%;
  /* background-color: red; */
}

/* define rows for CSS divs */
.row {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* clearfix set against the row class for convenience */
.row:before,
.row:after {
  content: ' ';
  display: table;
}
.row:after {
  clear: both;
}

/* define a bounding box for each book "card" to ensure sizes are consistent */
.grid {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 1.36% 0 0 0; /*213.9/157.3 = 1.36% to maintain aspect ratio */
  display: block;
  float: left;
  margin: 1%;
  outline: 1px solid rgb(218, 227, 243);
  font-family: 'Open Sans', sans-serif;
}

/* grid for "medium" widths - 2 columns */
.m-grid-2 {
  width: 48%;
  float: left;
  overflow: hidden;
}

/* set boot cover image window at this size - ensures consistency in book "cards" */
.img-m {
  width: 40%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 65.9% 0 0 0; /*313/475 = 65.9% to maintain aspect ratio */
  display: block;
  float: left;
  margin: 5px;
}

/* fill image within "img-[x]" window - ensures consistency in book "cards" */
.imgClass {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* "small" widths (1 column) - note matched closest bootstrap breakpoint for better consistency in responsiveness */
@media (max-width: 576px) {
  .sm-grid-1 {
    width: 100%;
    float: left;
    overflow: hidden;
  }

  /* set boot cover image window at this size - ensures consistency in book "cards" */
  .img-sm {
    width: 45%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 65.9% 0 0 0; /*313/475 = 65.9% to maintain aspect ratio */
    display: block;
    float: left;
  }
}

/* large widths (uses 3 columns) - note matched bootstrap closest breakpoint for better consistency in responsiveness */
@media (min-width: 992px) {
  .d-grid-3 {
    width: 30%;
    float: left;
    overflow: hidden;
  }

  /* set boot cover image window at this size - ensures consistency in book "cards" */
  .img-d {
    width: 40%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 65.9% 0 0 0; /*313/475 = 65.9% to maintain aspect ratio */
    display: block;
    float: left;
  }
}

/* provides extra padding when bookcategory is displayed */
.bookCategory {
  position: relative;
  padding-top: 5%;
}
