.container {
  display: block;
  width: 100%;
  /* background-color: red; */
}

.row {
  display: block;
  width: 100%;
  /* max-width: 960px; */
  /* for desktop view */
  margin: 0 auto;
  /* outline: 1px solid rgb(218, 227, 243); */
  /* to visualize our element */
  font-family: 'Merriweather', serif;
}

/* clearfix set against the row class for convenience */
.row:before,
.row:after {
  content: ' ';
  display: table;
}
.row:after {
  clear: both;
}

.grid {
  box-sizing: border-box;
  height: 20px;
  padding: 1%;
  float: left;
  margin: 1%;
  /* padding-bottom: 10%; */
  outline: 1px solid rgb(218, 227, 243);
  height: auto;
  /* overflow: hidden; */
  font-family: 'Roboto', sans-serif;
}

.m-grid-2 {
  width: 48%;
}

.img-m {
  width: 35%;
  height: auto;
  float: left;
  margin: 5px;
}

@media (max-width: 576px) {
  .sm-grid-1 {
    width: 100%;
  }
  .img-sm {
    width: 45%;
    height: auto;
    float: left;
  }
}

@media (min-width: 992px) {
  .d-grid-4 {
    width: 23%;
  }

  .img-d {
    width: 45%;
    height: auto;
    float: left;
  }
}

.bookCategory {
  position: relative;
  padding-top: 5%;
}
