<!-- standard bootstrap navbar with some customizations -->
<nav
  class="navbar navbar-expand-md navbar-light"
  style="background-color: white"
>
  <a class="navbar-brand" routerLink="home">
    <img
      src="./assets/bookexchanger-logo.svg"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt="books"
    />
    <!-- navbar logo and text set manually through style attribute -->
    <span
      style="color:black; font-family: 'Miriam Libre', sans-serif; font-weight:700;"
      >Book Exchanger</span
    ></a
  >

  <!-- button calls TS method to track display on/off -->
  <button
    class="navbar-toggler"
    type="button"
    (click)="toggleCollapsed()"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon" ngToggler></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item px-3">
        <a class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" routerLink="browsebooks">Browse books</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" routerLink="addbooks">Post a book</a>
      </li>
    </ul>
  </div>
</nav>
