<div style="width:100%">
  <img class="imgDiv sm-imgDiv" src="{{ selectedBook.coversrc }}" />
  <div class="info-1 sm-info1">
    <h5>{{ selectedBook.title }}</h5>

    by {{ selectedBook.author }} <br />
    <b>{{ selectedBook.category }} </b> published
    {{ selectedBook.publishdate }} <br />

    <div class="info-1 sm-info1" style="padding-top:2%">
      {{ selectedBook.abstract }}
    </div>

    <div class="info-1 sm-info1" style="padding-top: 15%;">
      <span class="info-header sm-info-header"> contact:</span>
      <span class="info-data sm-info-header">{{ selectedBook.contact }}</span>
    </div>

    <div class="info-1 sm-info1">
      <span class="info-header sm-info-header"> phone:</span>
      <span class="info-data sm-info-data">{{ selectedBook.phone }}</span>
    </div>

    <div class="info-1 sm-info1">
      <span class="info-header sm-info-header"> email:</span>
      <span class="info-data sm-info-data">{{ selectedBook.email }}</span>
    </div>
  </div>
</div>

<!-- <a class="btn btn-primary" routerLink="bookdetails/{{ selectedBook.id }}"
  >View More</a
> -->
