<!-- This component contains the look of the modal and the footer dialogs for "remove listing" -->
<div role="document" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <!-- modal messaging varies depending on whether it was called from browsebooks component 
        or addbooks (as a confirmation) -->
      <div *ngIf="browseBooks; else elseBlock">
        <h6 class="modal-title">
          Contact the person below to arrange a book exchange
        </h6>
      </div>
      <ng-template #elseBlock>
        <h6 class="modal-title">
          You have just posted the following book entry to the book exchange
        </h6>
      </ng-template>

      <!-- close button always displayed -->
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- content for modal is defined by the "modalbookdetails component" (i.e., the bookdetails component) -->
    <div class="modal-body">
      <ng-content></ng-content>
    </div>

    <!-- used to display a brief "working" message which waiting for the promise associated with 
    completing the patch HTTP request -->
    <div class="text-center">
      <p class="lead" *ngIf="loading">Working...</p>
    </div>

    <!-- modal messaging varies depending on whether it was called from browsebooks component 
        or addbooks (as a confirmation) -->
    <div *ngIf="browseBooks === false" style="text-align:center">
      Please write down your password to remove your posting:
      <b>{{ selectedBook.postingpw }}</b>
    </div>

    <!-- remove listing dropdown (bootstrap) and form is not displayed when modal is called from addbooks -->
    <div *ngIf="browseBooks">
      <div class="modal-footer">
        <!-- start dropdown -->
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button
                class="btn btn-outline-primary"
                id="dropdownForm1"
                ngbDropdownToggle
                style="font-size: .8em; margin-left:1%;"
              >
                Remove Posting
              </button>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownForm1"
                style="padding:1%"
              >
                <!-- form to take in user-entered password to remove posting -->
                <div class="form-group">
                  <label for="postingpw" style="font-size: .8em;"
                    >Posting Password</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="postingpw"
                    placeholder="enter password here"
                    style="font-size: .8em;"
                    [(ngModel)]="password"
                  />
                </div>

                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="submitRemove()"
                  style="font-size: .8em;"
                >
                  Confirm Removal
                </button>
                <!-- </form> -->
              </div>
            </div>
          </div>
        </div>
        <!-- end dropdown -->
      </div>
    </div>
    <!-- close modal-footer -->
  </div>
  <!-- close modal content -->
</div>
<!-- close modal dialog -->
