.container {
  margin-top: 2%;
  padding: 2%;
  width: 100%;
  height: 65em;
  display: block;
  border: 1px solid rgb(218, 227, 243);
}

.inputDiv {
  width: 50%;
  float: left;
  display: block;
}

.rowDiv {
  height: 5em;
}

.rowDivMsg {
  height: 5em;
  padding-top: 0.3em;
  vertical-align: middle;
  line-height: 0.9;
}

.checkmark {
  height: 2em;
  width: auto;
}

.spacerRow {
  height: 4em;
  padding-top: 1em;
}

.msgDiv {
  width: 45%;
  float: left;
  padding-left: 2%;
  display: block;
}

.comment {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  margin-left: 6%;
  color: gray;
  font-size: 0.8em;
}

.errorMsg {
  color: red;
}
.okayMsg {
  color: green;
}

/*  */
/* Tooltip text */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
