<!-- defines the main input form for addbooks -->
<div class="mainInputForm">
  <div class="pageHeading">
    Post your book online
    <span class="comment">Fields with * are required</span>
  </div>

  <form [formGroup]="addBookGroup">
    <!-- uses CSS grid to define areas for input / messages / checkmark based upon size "large" and "small" -->
    <div class="jcGridContainer jcGridContainer-sm">
      <div class="l-title s-title l-spacing s-spacing">
        <label for="title">* Title</label>

        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
          name="title"
          placeholder="Enter title of book to post online"
        />
      </div>

      <div class="l-author s-author l-spacing s-spacing">
        <label for="author">* Author</label>

        <input
          type="text"
          class="form-control"
          id="author"
          formControlName="author"
          name="author"
          placeholder="First Last"
        />
      </div>

      <div class="l-year s-year l-spacing s-spacing">
        <label for="publishdate">* Year Published</label>
        <input
          type="text"
          class="form-control"
          id="publishdate"
          formControlName="publishdate"
          name="publishdate"
          placeholder="2019"
        />
      </div>

      <div class="l-cat s-cat l-spacing s-spacing">
        <label>* Book Category</label>
        <select
          class="form-control"
          formControlName="category"
          placeholder="Fiction"
        >
          <option value="Fiction">Fiction</option>
          <option value="Non-Fiction">Non-Fiction</option>
        </select>
      </div>

      <div class="l-coverimg s-coverimg l-spacing s-spacing">
        <label for="coversrc">Cover Image</label>
        <input
          type="text"
          class="form-control"
          id="coversrc"
          formControlName="coversrc"
          name="coversrc"
          placeholder="Enter URL to online image of book cover"
        />
      </div>

      <div class="l-desc s-desc l-spacing s-spacing">
        <label for="abstract">Book description</label>
        <textarea
          style="height: 4em;"
          type="text"
          class="form-control"
          id="abstract"
          formControlName="abstract"
          name="abstract"
          placeholder="1000 characters or less"
        >
        </textarea>
      </div>

      <div class="l-spacerRow s-spacerRow"><hr /></div>

      <div class="l-contact s-contact l-spacing s-spacing">
        <label for="contact">* Contact name for online posting</label>
        <input
          type="text"
          class="form-control"
          id="contact"
          formControlName="contact"
          name="contact"
          placeholder="your name"
        />
      </div>

      <div class="l-phone s-phone l-spacing s-spacing">
        <label>* Phone number</label>
        <input
          type="text"
          class="form-control"
          formControlName="phone"
          id="phone"
          name="phone"
          placeholder="123-456-7890"
        />
      </div>

      <div class="l-email s-email l-spacing s-spacing">
        <label>* Email</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          id="email"
          name="email"
          placeholder="email@domain.com"
        />
      </div>

      <!-- tooltip using ng-bootstrap to provide additional details on posting password-->
      <ng-template #tipContent
        >The password you pick will be required to remove this posting from the
        website. Please note this password in a safe place.
      </ng-template>

      <div class="l-pw s-pw l-spacing s-spacing">
        <label
          >* Posting Password
          <span
            style="color:rgb(157, 164, 175); margin-left: 20px;"
            placement="right"
            [ngbTooltip]="tipContent"
          >
            What is this?
          </span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="postingpw"
          id="postingpw"
          name="postingpw"
          placeholder="8 characters minimum"
        />
      </div>

      <div class="l-btn s-btn l-spacing s-spacing">
        <button
          type="submit"
          [disabled]="!addBookGroup.valid"
          (click)="onSubmit()"
        >
          Post Online
        </button>
      </div>

      <!-- ----------------begin responsive input messages -------------------------->
      <!-- messagse are defined to different grid areas based upon screen size -->
      <!-- for large screen, okMsg and errorMsg go in grid "OK" -->
      <!-- for small sreens, okMsg goes in grid "OK", errorMsg go in grid "Msg" -->
      <div
        class="l-titleOK s-titleMsg errorMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('title').errors?.required &&
          addBookGroup.get('title').touched
        "
      >
        Please enter book title
      </div>

      <div
        class="l-titleOK s-titleOK okMsg l-spacingOK s-spacingOK"
        *ngIf="addBookGroup.get('title').valid"
      >
        <img class="checkmark" src="./assets/checkmark.png" alt="OK" />
      </div>

      <div
        class="l-authorOK s-authorMsg errorMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('author').errors?.required &&
          addBookGroup.get('author').touched
        "
      >
        Please enter book's author name
      </div>

      <div
        class="l-authorOK s-authorMsg errorMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('author').errors?.pattern &&
          addBookGroup.get('author').touched
        "
      >
        Please enter a first and last name
      </div>

      <div
        class="okMsg l-authorOK s-authorOK l-spacingOK s-spacingOK"
        *ngIf="addBookGroup.get('author').valid"
      >
        <img class="checkmark" src="./assets/checkmark.png" alt="OK" />
      </div>

      <div
        class="errorMsg l-yearOK s-yearMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('publishdate').errors?.required &&
          addBookGroup.get('publishdate').touched
        "
      >
        Please enter publishing date of book
      </div>

      <div
        class="errorMsg l-yearOK s-yearMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('publishdate').errors?.pattern &&
          addBookGroup.get('publishdate').touched
        "
      >
        Please check publishing date of book
      </div>

      <div
        class="okMsg l-yearOK s-yearOK  l-spacingOK s-spacingOK"
        *ngIf="addBookGroup.get('publishdate').valid"
      >
        <img class="checkmark" src="./assets/checkmark.png" alt="OK" />
      </div>

      <div
        class="l-catOK s-catMsg errorMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('category').errors?.required &&
          addBookGroup.get('category').touched
        "
      >
        Please select book category from drop-down
      </div>
      <div
        class="okMsg l-catOK s-catOK  l-spacingOK s-spacingOK"
        *ngIf="addBookGroup.get('category').valid"
      >
        <img class="checkmark" src="./assets/checkmark.png" alt="OK" />
      </div>

      <div></div>
      <div></div>
      <div class="spacerRow" style="grid-area: spacerOK"></div>

      <div
        class="l-contactOK s-contactMsg errorMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('contact').errors?.required &&
          addBookGroup.get('contact').touched
        "
      >
        Please enter contact name for exchange
      </div>

      <div
        class="okMsg l-contactOK s-contactOK  l-spacingOK s-spacingOK"
        *ngIf="addBookGroup.get('contact').valid"
      >
        <img class="checkmark" src="./assets/checkmark.png" alt="OK" />
      </div>

      <div
        class="l-phoneOK s-phoneMsg errorMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('phone').errors?.required &&
          addBookGroup.get('phone').touched
        "
      >
        Please enter contact phone number
      </div>

      <div
        class="l-phoneOK s-phoneMsg errorMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('phone').errors?.pattern &&
          addBookGroup.get('phone').touched
        "
      >
        Please check phone number and enter in required format
      </div>

      <div
        class="okMsg l-phoneOK s-phoneOK  l-spacingOK s-spacingOK"
        *ngIf="addBookGroup.get('phone').valid"
      >
        <img class="checkmark" src="./assets/checkmark.png" alt="OK" />
      </div>

      <div
        class="l-emailOK s-emailMsg errorMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('email').errors?.required &&
          addBookGroup.get('email').touched
        "
      >
        Please enter contact email for book exchange
      </div>

      <div
        class="okMsg l-emailOK s-emailOK  l-spacingOK s-spacingOK"
        *ngIf="addBookGroup.get('email').valid"
      >
        <img class="checkmark" src="./assets/checkmark.png" alt="OK" />
      </div>

      <div
        class="l-pwOK s-pwMsg errorMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('postingpw').errors?.required &&
          addBookGroup.get('postingpw').touched
        "
      >
        Please enter a password to authorize removal of your posting
      </div>

      <div
        class="l-pwOK s-pwMsg errorMsg l-spacingOK s-spacingMsg"
        *ngIf="
          addBookGroup.get('postingpw').errors?.minLength &&
          addBookGroup.get('postingpw').touched
        "
      >
        Please make sure your password is at least 8 characters
      </div>

      <div
        class="okMsg l-pwOK s-pwOK  l-spacingOK s-spacingOK"
        *ngIf="addBookGroup.get('postingpw').valid"
      >
        <img class="checkmark" src="./assets/checkmark.png" alt="OK" />
      </div>
    </div>
  </form>
  <!-- close div.jcGridContainer -->
</div>
