/* 
for headings:
font-family: 'Miriam Libre', sans-serif;

for everything else:
font-family: 'Open Sans', sans-serif;

logo colours:
red: rgb(255,0,0) #ff0000
yellow: rgb(255,212,42) #ffd42a
green: rgb(30,221,51) #1edd33
purple: rgb(47,0,107) #2f006b
dk blue: rgb(0,0,214) #0000d6
lt blue: rgb(47,128,189) #2f80bd
 */

body {
  font-family: 'Open Sans', sans-serif;
}

.pageHeading {
  color: rgb(47, 128, 189);
  margin: 2%;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Miriam Libre', sans-serif;
}

/* specific heading styles defined to ensure no conflict with bootstrap ng-bootstrap, etc. */
.jch1 {
  font-size: 2em;
  margin-left: 2%;
  font-family: 'Miriam Libre', sans-serif;
}

.jch2 {
  font-size: 1.5em;
  font-family: 'Miriam Libre', sans-serif;
}

.jch3 {
  font-size: 1.2em;
  font-family: 'Miriam Libre', sans-serif;
}

.jch5 {
  font-weight: bold;
  font-size: 0.9em !important;
}

.jch6 {
  font-size: 0.7em !important;
}
