/* You can add global styles to this file, and also import other style files */
.pageHeading {
  color: rgb(68, 114, 196);
  font-family: 'Merriweather', serif;
}
.jch5 {
  font-weight: bold;
  font-size: 0.9em;
}

.jch6 {
  font-size: 0.7em;
}
