<div class="container">
  <div class="grid m-col1 sm-col1 d-col1">
    <img class="img-m img-sm img-d" src="./assets/bookstack.png" />
  </div>
  <!-- close div.grid.col1 -->
  <div class="grid m-col2 sm-col2 d-col2">
    <div style="color: rgb(68,114,196); font-family: 'Merriweather', serif;">
      How does the Book Exchange Portal work?
    </div>
    <div class="quote">
      “I’m looking for something new to read, but I don’t want to spend much
      money”
    </div>
    <ol class="instructions">
      <li>
        <a routerLink="/browsebooks">Browse the books</a> being offered by other
        individuals through the website. Contact individuals directly to
        establish a suitable exchange and finalize shipping details between
        yourselves
      </li>
      <br />
      <li>
        Look through your existing book collection and
        <a routerLink="/addbooks">post a book</a> online to help inspire others
        to contact you
      </li>
    </ol>
  </div>
  <!-- close div.grid.col2 -->
</div>
<!-- close div.container -->
