<!-- bootstrap jumbotron (with background graphic added in CSS)  -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="font-family: 'Miriam Libre', sans-serif;">
      Exchange old books for new
    </h1>
    <p class="lead" style="font-family: 'Open Sans', sans-serif;">
      a free website to post your old books and help others connect with you to
      exchange books
    </p>
  </div>
</div>

<!-- page content after jumbotron -->
<div class="container.fluid">
  <div class="pageHeading">
    How does this work?
  </div>

  <!-- set-up CSS grid to ensure cards/card content remains rigidly aligned as screen size shrinks/grows -->
  <!-- Note:  cards are created manually in CSS - bootstrap not used -->
  <!-- colors for "browsebooks" card are applied manually to reduce CSS definitions -->
  <!-- CSS classes are created for each part of card1:  title, body, btn in "large" and "small" positions -->
  <!-- "sm" position is stacked vertically for enhanced mobile viewing-->

  <div class="jcGridContainer">
    <div class="cardTitle jch3 c1t c1t-sm" style="border-color: #ffd42a">
      <strong>Find a new book</strong>
    </div>
    <div class="cardBody c1b c1b-sm" style="border-color: #ffd42a">
      Other users have posted books to the website that you might want to read.
      See what's available in our database and find contacts to set-up your book
      exchange.
    </div>
    <div class="cardButton c1btn c1btn-sm" style="border-color: #ffd42a">
      <!-- note:  button is stock bootstrap with custom colour applied via style attribute -->
      <button
        type="button"
        class="btn btn-light text-wrap"
        style="background-color: rgb(255, 212, 42); border: rgb(255, 212, 42)"
        routerLink="/browsebooks"
      >
        Browse Books
      </button>
    </div>

    <div class="rowSpacer"></div>

    <!-- define card2 -->
    <div class="cardTitle jch3 c2t c2t-sm">
      <strong>Offer an old book</strong>
    </div>
    <div class="cardBody c2b c2b-sm">
      Share a posting of your old books to let other users know what's
      available. This helps motivate others to reach out to you to set up an
      exchange.
    </div>
    <div class="cardButton c2btn c2btn-sm">
      <!-- note:  button is stock bootstrap with custom colour applied via style attribute -->
      <button
        type="button"
        class="btn btn-secondary text-wrap"
        routerLink="/addbooks"
        style="background-color:rgb(47, 128, 189); border: rgb(47, 128, 189);"
      >
        Post a Book
      </button>
    </div>
  </div>
</div>
<!-- close div.container.fluid -->
