/* modifies bootstrap jumbotron to include an image */
.jumbotron {
  background-image: url('/assets/books-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

/* define a CSS grid to ensure parts of "cards" remain aligned when side-by-side  */
/* named grid areas are used to define location of each card element (title, body, button) for both cards */
.jcGridContainer {
  display: grid;
  margin: 2%;
  align-items: stretch;
  grid-template-columns: auto auto;
  grid-column-gap: 3ch;
  grid-template-areas:
    'a1-1 a1-2'
    'a2-1 a2-2'
    'a3-1 a3-2'
    'a4-1 a4-2'
    'a5-1 a5-2'
    'a6-1 a6-2'
    'a7-1 a7-2';
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 1px solid gray; */
}

/* set styles for both card titles at "medium" screen sizes*/
.cardTitle {
  text-align: center;
  padding: 8% 8% 2% 8%;
  border: 1px solid rgb(47, 128, 189);
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
  font-family: 'Miriam Libre', sans-serif;
}

/* set styles for both card bodies at "medium" screen sizes*/
.cardBody {
  text-align: left;
  padding: 2% 8% 2% 8%;
  border: 1px solid rgb(47, 128, 189);
  border-top: 0;
  border-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}

/* set styles for both card button "containers" at "medium" screen sizes*/
.cardButton {
  text-align: center;
  padding: 8%;
  border: 1px solid rgb(47, 128, 189);
  border-radius: 0 0 5px 5px;
  border-top: 0;
  font-family: 'Open Sans', sans-serif;
}

/* spacer defined for when cards are vertically stacked (small screen media query) */
.rowSpacer {
  grid-area: a4-1;
  height: 10px;
}

/* defines positions in CSS grid for card1:  t-title, b-body, btn-button */
.c1t {
  grid-area: a1-1;
}
.c1b {
  grid-area: a2-1;
}
.c1btn {
  grid-area: a3-1;
}

/* no need to define positions for card 2 once card 1 is defined */
/* .c2t {
  grid-area: a1-2;
}
.c2b {
  grid-area: a2-2;
}
.c2btn {
  grid-area: a3-2;
} */

@media (min-width: 992px) {
  /* styles for card title, body, button container are modified for larger screens */
  /* only difference is reduced white space - i.e., reduced padding */
  .cardTitle {
    text-align: center;
    padding: 4% 4% 1% 4%;
    border: 1px solid rgb(47, 128, 189);
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    font-family: 'Miriam Libre', sans-serif;
  }

  .cardBody {
    text-align: left;
    padding: 1% 4% 1% 4%;
    border: 1px solid rgb(47, 128, 189);
    border-top: 0;
    border-bottom: 0;
    font-family: 'Open Sans', sans-serif;
  }

  .cardButton {
    text-align: center;
    padding: 4%;
    border: 1px solid rgb(47, 128, 189);
    border-radius: 0 0 5px 5px;
    border-top: 0;
    font-family: 'Open Sans', sans-serif;
  }
}

/* media query for small screen sizes - stacks cards vertically */
@media (max-width: 500px) {
  .c1t-sm {
    grid-column: span 2;
  }
  .c1b-sm {
    grid-column: span 2;
  }
  .c1btn-sm {
    grid-column: span 2;
  }
  .c2t-sm {
    grid-area: a5-1;
    grid-column: span 2;
  }
  .c2b-sm {
    grid-area: a6-1;
    grid-column: span 2;
  }
  .c2btn-sm {
    grid-area: a7-1;
    grid-column: span 2;
  }
}
